*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    
}
.game
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:100px
}
.box{
    height:400px;
    width:800px;
    border: 2px solid black;
    background-color: rgb(22,38,74);
}