*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}
body{
    font-family: sans-serif;
}
.navbar{
    height:80px;
    width:100%;
    background-color:blue;
    color:white;
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:0 50px;

}
a{
    color:inherit;
    text-decoration: none;
}
.logo{
    font-size: 30px;
    font-weight: 800;
}
.navilink{
    /*border:2px solid white;*/
    display:flex;
    gap:40px;
  font-size:20px;
  font-weight:600;
}
.navilink>a:hover{
    text-decoration: underline;
}
.hero{
    height: calc(100vh - 80px);
    width:100%;
    background-color: antiquewhite;
    display:flex;
}
.hero>section{
    height:100%;
    width:50%;
    /*border: 1px solid black;*/
}
.hero-content{
    display:flex;
    justify-content: center;
    align-items: center;
    
}
.hero-content>h1{
    font-size: 80px;
    font-weight: 800;
}
.hero-content span{
   color:blue;
}
.hero-image{
    display:flex;
    align-items: center;
    justify-content: center;
    
}
.hero-image>img{
    height:80%;
    width:80%;
    /*border:2px solid red;*/
    object-fit: contain;
    object-position:center;
}
/* .card-container{
    height:100vh;
    width:100%;
    border: 2px solid black;
    background-color: #2d4156;
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
    gap:20px;
    align-items: center;
    flex-wrap: wrap;

}
.catalog
{
    /*display:flex;
    justify-content: center;
    align-items: center;
    border:2px solid black;
    background-color:white;
    height:80%;
    width:20vw;
    border-radius: 20px 20px 20px 20px;
    
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap:20px;

    transition: transform 0.3s ease, box-shadow 0.3s ease;
}


.catalog>img{
    height:50%;
    width:100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.catalog>h1,p{
    color:darkslategrey;
     margin: 0;              
    text-align: center;
    
}

.catalog:hover
{
    
    transform: scale(1.05) translateY(-10px);
    box-shadow: 0 20px 40px rgba(0,0,0,0.25);
} */
.card2-container{
    min-height:1i00vh;
    width:100%;
    border: 2px solid black;
    background-color: #f0f0f0; 
    padding: 50px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 500px 500px 500px;
    justify-items: center;
    align-items: center;

}
.card{
    height:400px;
    width:300px;
    border:2px solid black;
    background-color: aqua;
    margin:10px;
}
.item1{
    justify-self: flex-end;
    align-self: flex-end;
}
.item3{
    justify-self: flex-start;
    align-self: flex-end;
}
.item4{
    justify-self: flex-start;
    align-self: center;
}
.item6{
    justify-self: flex-end;
}
.item7{
    justify-self: flex-end;
    align-self: flex-start;
}
.item9{
    justify-self: flex-start;
    align-self: flex-start;
}