*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
div{
    height:200px;
    width:200px;
    display:flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: bold;
    border: 2px solid black;
}
.box1{
    background-color: yellow;
}
.box2{
    background-color: aqua;
    position: sticky;
    top:0;
}
.box3{
    background-color: blueviolet;
    position: fixed;
    top:0;
    right:0;
}
.box4{
    background-color: coral;
    position: relative;
    top:20px;
    left:20px;
}
.box5{
    background-color: lightgreen;
    position: absolute;
}
.parent{
    position: relative;
    background-color: lightslategray;
    height:80vh;
    width:50vw;
}
.child{
    background-color: lightpink;
    position: absolute;
    bottom:0;
    right:0;
}
.cards{
    height:80vh;
    width:50vw;
    position: absolute;
}
.card1
{
    background-color: blue;
    position: relative;
}
.card2{
    background-color: green;
     position: relative;
}
.card3{
    background-color: red;
     position: relative;
}